[Desktop Entry]
Version=1.0
Type=Application
Name=Legislative Streams
Comment==Live Stream playlist for OSINT to help you keep up to date on the latest Legislative news
Exec=vlc https://iptv-org.github.io/iptv/categories/legislative.m3u
Icon=/opt/csitools/Images/Icons/news.jpg
Path=
Terminal=false
StartupNotify=true
